PORT=3000
MONGO_URI="mongodb+srv://flickinsider:d9OAajkyZ5WibQbm@cluster0.a3jms.mongodb.net/netflix_db?retryWrites=true&w=majority&appName=Cluster0'
NODE_ENV=development
JWT_SECRET="09a1a45dc1fccf50c65366cd290184d194aa094ffe30c1e0b8032c9d1183b855"
TMDB_API_KEY= "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiY2ZkYTczZjEwZjMwMWFmYTJjZDM2ZmE4NDdiOGJmZiIsIm5iZiI6MTczNzA4NjIyMi40NjcsInN1YiI6IjY3ODlkNTBlMTQwMzcwMWM5OTFkNzFlYSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.6ktBfDPVEKqRfExSjhrWDTIJLtgaYtEaO5qv00yY1dg"